@import variables

header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px 2%
  .header-logo
    border-radius: 20px
    box-shadow: 0px 5px 10px
  .navcontainer
    display: flex
    width: 20%
    justify-content: space-around
    i
      margin-right: 40px
      color: $logo-graphic
      font-size: 6rem
    
