@import variables

header
  display: flex
  justify-content: space-between
  align-content: center
  padding: 10px
  .navcontainer
    height: fit-content
    i
      color: $logo-graphic
      font-size: 4rem
    
