/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
}
header .header-logo {
  border-radius: 20px;
  box-shadow: 0px 5px 10px;
}
header .navcontainer {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
header .navcontainer i {
  color: #33558B;
  font-size: 6rem;
}
@media (max-width: 1000px) {
  header .navcontainer {
    width: 40%;
  }
}

body {
  background-color: #FAE9C6;
}
body .wrapper {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.banner {
  background: linear-gradient(rgba(250, 233, 198, 0.2) 0%, rgba(250, 233, 198, 0.2) 100%), url("/../assets/img/home-banner.jpg") no-repeat center;
  background-size: cover;
  height: 800px;
  position: relative;
}
.banner .banner-content {
  position: absolute;
  right: 5%;
  width: 65%;
  text-align: center;
  padding: 5% 0;
}
.banner .banner-content p {
  line-height: 4rem;
  font-size: 3rem;
  color: #33558B;
  font-weight: bold;
  font-family: Helvetica;
  padding-top: 40px;
}
.banner .banner-content .mobile-text {
  display: none;
}
.banner .banner-content .sign-container button {
  margin: 40px 0;
  background-color: #234059;
  border: none;
  border-radius: 30px;
  font-size: 2.5rem;
  color: #FFE785;
  padding: 20px 5%;
}
.banner .banner-content .sign-container button:hover {
  cursor: pointer;
  background-color: #989898;
}
.banner .banner-content .mobile-button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}
.banner .banner-content .mobile-button-container button {
  background: #000000;
  color: #fff;
  border: none;
  font-size: 2.5rem;
  width: 45%;
  min-width: fit-content;
  padding: 20px 4%;
  border-radius: 30px;
}
.banner .banner-content .mobile-button-container button:hover {
  cursor: pointer;
  background-color: #989898;
}
@media (max-width: 1000px) {
  .banner {
    background-size: cover;
  }
  .banner .banner-content {
    position: static;
    width: 100%;
  }
  .banner .banner-content .desktop-text {
    display: none;
  }
  .banner .banner-content .mobile-text {
    margin: 0 auto;
    display: block;
  }
}

.features {
  padding: 80px 4%;
  background-color: #FDF5E5;
  color: #33558B;
  font-family: Helvetica;
}
.features h2 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 80px;
}
.features .feature-card {
  display: flex;
  justify-content: space-around;
}
.features .feature-card .card {
  text-align: center;
  width: 25%;
  font-size: 2rem;
  line-height: 2.5rem;
}
.features .feature-card .card span {
  font-weight: bold;
}
.features .feature-card .card:first-child img {
  padding-bottom: 30px;
}
@media (max-width: 1000px) {
  .features .feature-card {
    flex-flow: column;
  }
  .features .feature-card .card {
    display: flex;
    width: 100%;
    text-align: left;
  }
  .features .feature-card .card h3 {
    display: inline;
  }
  .features .feature-card .card .card-text {
    display: flex;
    align-items: center;
  }
  .features .feature-card .card:nth-child(2) {
    flex-direction: row-reverse;
  }
}

footer {
  font-family: Helvetica;
  font-size: 1.2rem;
  color: #33558B;
  padding: 20px 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer nav {
  text-align: center;
}
footer nav a {
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
